.table-wrapper
  %h3 Orders
  %table.mdl-data-table.mdl-js-data-table.mdl-shadow--8dp
    %thead
      %tr
        %th.mdl-data-table__cell--non-numeric User
        %th.mdl-data-table__cell--non-numeric State
        %th
    - @source_models.each do |order|
      %tbody
        %tr
          %td.mdl-data-table__cell--non-numeric= order.user&.user_name
          %td.mdl-data-table__cell--non-numeric= order.state
          %td.mdl-data-table__cell--non-numeric= link_to('Edit', edit_admin_order_path(order))
          %td.mdl-data-table__cell--non-numeric-= link_to "Delete", admin_order_path(order), data: { confirm: 'Are you certain you want to delete this?' }, method: :delete