%div{ ng: { controller: "ProductsController" }}
  .container
    .alert.alert-success{ ng: { if: "saveSuccess" }}
      %p
        Added to cart.
  %div{ ng: { repeat: "product in products" }}
    .container
      .panel
        .panel-body
          .alert.alert-danger{ ng: { if: "productErrors" }}
            %ul{ ng: { repeat: "val in productErrors" }}
              %li
                {{ val }}
          %form
            .form-group
              %h6
                {{ product.name }}
              %h6
                {{ product.price | currency :symbol : factionSize }}
            .form-group
              %image.image{ ng: { src: "{{ product.picture_url }}" }}
            .form-group
              %button.btn.btn-success{ ng: { click:"addToCart(product)" }}
                Add To Cart
              = select_tag('', options_for_select((1..10)), {'ng-model' => "product.quantity", 'ng-init' => '' })