.product_page_thing{ng:{controller: "ProductsController"}}
  .container{ng:{repeat:"product in products"}}
    .panel
      .panel-body
        .row
          .col-sm-4
            {{product.name}}
          .col-sm-4
            {{product.price | currency : symbol : fractionSize}}
          .col-sm-4
            %button.btn.btn-primary{ng:{click: "add_to_cart(product)" }}
              Add To Cart


