.container-fluid{ align: "center"}
  .container
    .alert.alert-danger{ ng: { if: "productErrors" }}
      {{ productErrors }}
    .alert.alert-success{ ng: { if: "addToCartSuccessful" }}
      {{ addToCartSuccessful }}
  %div{ ng: { repeat: "product in products" }}
    .container{ ng: { if: "product.on_hand_count > 0 && product.available" } }
      .panel{ ng: { controller: "ProductController"}}
        .panel-body
          %form
            .form-group
              %h6
                {{ product.name }}
              %h6
                {{ product.price | currency :symbol : factionSize }}
              %h6
                In Stock: {{ product.on_hand_count}}
            .form-group
              %image{ ng: { src: "{{ product.picture_url }}" }}
            .form-group
            - unless current_user.nil?
              .col-sm-1.pull-right
                %button.btn.btn-success{ ng: { click:"addToCart(product)" }}
                  Add To Cart
              .col-sm-1.pull-right
                %select.form-control{ ng: { model: "product.quantity" }}
                  %option{ ng: { repeat: "num in range", value: "{{ num }}"}}
                    {{ num }}
