%div{ ng: { controller: "ProductsController" }}
  %div{ ng: { repeat: "product in products" }}
    .panel
      .panel-body
        .col-sm-4
          %h6
            {{ product.name }}
        .col-sm-4
          %h6
            {{ product.price | currency : symbol : fractionSize }}
        .col-sm-8
          %image.image{ ng: { src: '{{product.image_url}}' }}
        %button.btn.btn-success{ ng: { click:"add_to_cart(product)" }}
          Add To Cart
