%div{ ng: { controller: "ProductsController" }}
  %div{ ng: { repeat: "item in order.order_items" }}
    .container
      .panel
        .panel-body
          .row
            .col-sm-4
              %h6
                {{ item.source.name }}
            .col-sm-4
              %h6
                {{ product.source.price | currency : symbol : fractionSize }}
          .row
            .col-sm-4
              %image.image{ ng: { src: "{{ item.image_url }}" }}
          .row
            .col-sm-4
              %button.btn.btn-success{ ng: { click:"add_to_cart(item)" }}
                Add To Cart
              %input.input-sm{ type: "number", ng: { model: "item.quantity" }}
