%div{ ng: { controller: "ProductsController" }}
  .container
    .alert.alert-success{ ng: { if: "saveSuccess" }}
      %p
        Added to cart.
  %div{ ng: { repeat: "product in products" }}
    .container
      .panel
        .panel-body
          .alert.alert-danger{ ng: { if: "productErrors" }}
            %ul{ ng: { repeat: "product in products" }}
              %li
                {{ val }}
          %form
            .form-group
              %h6
                {{ product.name }}
              %h6
                {{ product.price | currency :symbol : factionSize }}
            .form-group
              %image.image{ ng: { src: "{{ product.picture_url }}" }}
            .form-group
              %button.btn.btn-success{ ng: { click:"addToCart(product)" }}
                Add To Cart
              %input.input-sm{ type: "number", min: 1, max: "{ product.quantity }", ng: { model: "product.quantity" }}